---
import Layout from "@/layouts/Layout.astro";
import Octocat from "@/components/Octocat.astro";

import { REPO_URL } from "@constants";
---

<Layout>
  <Octocat repo={REPO_URL} />
  <main class="relative grid h-screen place-content-center">
    <div class="h-20 w-20 overflow-hidden rounded-lg">
      <img
        src="https://cdn.discordapp.com/emojis/1239920519239962756.gif"
        alt="pepe cooking"
      />
    </div>
  </main>
</Layout>
