---
interface Props {
  title?: string;
}

import { PAGE_TITLE } from "@constants";

const title = Astro.props.title
  ? `${Astro.props.title} | ${PAGE_TITLE}`
  : PAGE_TITLE;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-gray-50 text-black dark:bg-black dark:text-gray-50">
    <slot />
  </body>
</html>
